{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home {% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1>Project manager</h1>                   
    </div>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, eum. Maxime officiis expedita, quis quasi ab sunt, quibusdam animi quam aliquid facere illo maiores. Fugiat recusandae nobis alias reiciendis architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, odit similique accusamus impedit ducimus magni debitis rerum esse eius reprehenderit porro quos minus aut officiis id consequuntur nobis reiciendis dolores.</p>
    </div>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, eum. Maxime officiis expedita, quis quasi ab sunt, quibusdam animi quam aliquid facere illo maiores. Fugiat recusandae nobis alias reiciendis architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, odit similique accusamus impedit ducimus magni debitis rerum esse eius reprehenderit porro quos minus aut officiis id consequuntur nobis reiciendis dolores.</p>
    </div>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, eum. Maxime officiis expedita, quis quasi ab sunt, quibusdam animi quam aliquid facere illo maiores. Fugiat recusandae nobis alias reiciendis architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, odit similique accusamus impedit ducimus magni debitis rerum esse eius reprehenderit porro quos minus aut officiis id consequuntur nobis reiciendis dolores.</p>
    </div>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, eum. Maxime officiis expedita, quis quasi ab sunt, quibusdam animi quam aliquid facere illo maiores. Fugiat recusandae nobis alias reiciendis architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, odit similique accusamus impedit ducimus magni debitis rerum esse eius reprehenderit porro quos minus aut officiis id consequuntur nobis reiciendis dolores.</p>
    </div>
    <div class="container-fluid">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, eum. Maxime officiis expedita, quis quasi ab sunt, quibusdam animi quam aliquid facere illo maiores. Fugiat recusandae nobis alias reiciendis architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, odit similique accusamus impedit ducimus magni debitis rerum esse eius reprehenderit porro quos minus aut officiis id consequuntur nobis reiciendis dolores.</p>
    </div>
{% endblock %}